# Manual for those files: https://github.com/ansible/ansible-kubernetes-modules/tree/master/library
# I also asked why they are not using the same API as K8s: https://github.com/ansible/ansible-kubernetes-modules/issues/7

# This needs to be called twice: https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/118
- name: Create Service Account
  k8s_v1_service_account:
    name: '{{ application_name }}'
    namespace: '{{ namespace }}'

# Blocked because of:
# - https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/120
# - https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/119
#- name: Create Role Binding
#  openshift_v1_role_binding:
#    namespace: '{{ namespace }}'
#    name: '{{ application_name }}'
#    user_names:
#      - system:serviceaccount:{{ namespace }}:{{ application_name }}
#    role_ref_name: "view"
#    subjects:
#    - kind: ServiceAccount
#      name: '{{ application_name }}'
#      namespace: '{{ namespace }}'

- name: Create HTTP Service
  k8s_v1_service:
    name: '{{ application_name }}-http'
    namespace: '{{ namespace }}'
    labels:
      application: '{{ application_name }}'
    selector:
      application: '{{ application_name }}'
    ports:
      - name: http
        port: 8080
        target_port: 8080

- name: Create Hot Rod Service
  k8s_v1_service:
    name: '{{ application_name }}-hotrod'
    namespace: '{{ namespace }}'
    labels:
      application: '{{ application_name }}'
    selector:
      application: '{{ application_name }}'
    ports:
      - name: hotrod
        port: 11222
        target_port: 11222

- name: Create Memcached Service
  k8s_v1_service:
    name: '{{ application_name }}-memcached'
    namespace: '{{ namespace }}'
    labels:
      application: '{{ application_name }}'
    selector:
      application: '{{ application_name }}'
    ports:
      - name: memcached
        port: 11211
        target_port: 11211

- include: caching-service.yml
  when: _apb_plan_id == "caching-service"

- include: shared-memory-service.yml
  when: _apb_plan_id == "shared-memory-service"
